@import "../../main.module.scss";

.btn {
  @include ButtonPrimary();
  text-decoration: none;
}
.btn:hover {
  transition: all 150ms ease-in;
}

// ***** кнопка входа ******
.btnEnter {
  color: $btn-color-one;
  border: 1px solid $btn-border-one;
}
.btnEnter:hover {
  color: $btn-color-three;
  background: $btn-background-two;
}

// ***** кнопка регистрации******
.btnReg {
  background: $btn-background-one;
  color: $btn-color-one;
  border: 1px solid $btn-background-one;
}
.btnReg:hover {
  color: $btn-color-three;
  background: $btn-background-two;
  border: 1px solid $btn-background-one;
}

// ***** кнопка показать еще ******
.btnMore {
  border: 1px solid $btn-border-two;
}
.btnMore:hover {
  color: $btn-color-three;
  background: $btn-background-two;
  border: 1px solid $btn-background-one;
}

// ***** заблокированные кнопки******
.btnDisabled, .btnDisabled:hover {
  cursor: not-allowed;
  background: rgb(182, 182, 182);
  color: white;
}
