@import "../../main.module.scss";

.container {
  @include Grid;
  margin: 49px 80px;
}
.info {
  grid-column: 2 / span 6;
  @include Text;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.contacts {
  grid-column: 9 / span 4;
  p {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    row-gap: 32px;
  }
  .contacts {
    grid-column: span 12;
    grid-row: 1;
  }
  .info {
    grid-column: span 12;
    grid-row: 2;
  }
}

