@import "../../main.module.scss";

.header {
  height: 270px;
  background: $header-background-primary;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  position: relative;
  color: $header-color-primary;
}
.content {
  @include Grid;
  justify-items: center;
  column-gap: 20px;
  row-gap: 14px;
  margin: 0 80px;
}
.title {
  grid-column: span 12;
}
.subtitle {
  color: $header-color-secondary;
  grid-column: 3 / 11;
  text-align: center;
}
.buttonContainer {
  position: absolute;
  right: 80px;
  top: 38px;
}
.user {
  grid-column: 2 / 4;
  height: 187px;
  width: 187px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width:100%;
  }
}
.userInfo {
  width: 100%;
  grid-column: 4/12;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 16px;
}
.cpecialithy {
  font-size: 32px;
}
.logout {
  display: none;
}

.photoContainer {
  width: 100%;
  padding:8px;
}
.photoItem {
  padding-top: 100%;
  position: relative;
}
.photoBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
}
.backIcon {
  display: none;
}

@media screen and (max-width: 800px) {
  .title,
  .userInfo h1 {
    font-size: 36px;
  }
  .subtitle {
    font-size: 16px;
  }
  .cpecialithy {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .logout {
    display: block;
    position: absolute;
    top: 12px;
    right: 16px;
  }
  .buttonContainer {
    display: none;
  }
  .userInfo {
    grid-row: 1;
    grid-column: span 12;
    align-items: center;
  }
  .user {
    grid-row: 2;
    grid-column: span 12;
  }
  .backButton {
    display: none;
  }
  .backIcon {
    display: block;
    position: absolute;
    top: 12px;
    left: 16px;
  }
  .header {
    height: auto;
  }
  .content {
    margin:64px 0;
  }
}
