@import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $body-family-primary;
  font-size: 16px;
  background: $body-background-primary;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 300;
}
h1 {
  @include H1;
  font-weight: 300;
}
h2 {
  @include H2;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
